= page_header do
  %i.fa.fa-cogs.fa-fw
  Zone

.row
  .col-lg-6
    = bootstrap_form_for [:admin, @zone], label_errors: true do |f|
      .control-group
        = f.text_field :name

      .control-group
        = f.text_field :production_order

      .form-actions
        = f.submit 'Save', class: 'btn btn-primary pull-right save'
        = link_to 'Cancel', admin_zones_path, class: 'btn btn-default pull-right'

