= page_header do
  - if @vendor.id.nil?
    Create New Vendor
  - else
    Edit Vendor

.row
  = bootstrap_form_for @vendor, :label_errors => true do |f|
    .col-lg-5
      = f.text_field :name, :required => true
      = f.text_field :contact_name
      = f.email_field :order_email
      = f.text_area :address
    .col-lg-5
      = f.text_field :phone
      = f.email_field :contact_email
      = f.text_field :website, :label => "Website (EX: http://example.com)"
      = f.text_area :notes
    .col-lg-10
      = f.text_field :tags
      = f.submit "Save", :class => "btn btn-primary pull-right save"
      = link_to "Cancel", "#", :class => "btn btn-default pull-right back-btn"
